beautifulsoup4==4.6.0
certifi==2017.4.17
chardet==3.0.4
futures==3.1.1
gevent==1.2.2
greenlet==0.4.12
grequests==0.3.0
idna==2.5
lxml==3.8.0
progressbar2==3.34.2
python-utils==2.2.0
requests==2.18.1
six==1.10.0
urllib3==1.21.1
